<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Reset Password | Smart Digital Village</title>



    <link rel="stylesheet" href="{{ url_for('static', filename='css/citizen.css') }}">
</head>

<body class="page-reset-password">

<div class="container">

<div class="logo">
🔑
</div>

<h2>Create New Password</h2>

<p>Create a new password for your Smart Digital Village account.</p>

<div class="input-group">

<label>New Password</label>

<div class="password-box">

<input
type="password"
id="password"
placeholder="Enter new password"
onkeyup="resetCheckStrength()">

<span class="toggle" onclick="resetTogglePassword('password',this)">👁</span>

</div>

<div id="strength"></div>

</div>

<div class="input-group">

<label>Confirm Password</label>

<div class="password-box">

<input
type="password"
id="confirmPassword"
placeholder="Confirm password">

<span class="toggle" onclick="resetTogglePassword('confirmPassword',this)">👁</span>

</div>

</div>

<button onclick="updatePassword()">
Update Password
</button>

<a href="/login" class="back">
← Back to Login
</a>

</div>



    <script src="{{ url_for('static', filename='js/citizen.js') }}"></script>
</body>
</html>