<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply for Scheme</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header>
    <h1>Apply for Government Scheme</h1>
</header>

<div class="container">

<div class="card">

<form>
<label>Full Name</label><br>
<input type="text" placeholder="Enter Full Name" required><br><br>

<label>Father's Name</label><br>
<input type="text" placeholder="Enter Father's Name" required><br><br>

<label>Aadhaar Number</label><br>
<input type="text" placeholder="Enter Aadhaar Number" required><br><br>

<label>Mobile Number</label><br>
<input type="tel" placeholder="Enter Mobile Number" required><br><br>

<label>Email</label><br>
<input type="email" placeholder="Enter Email"><br><br>

<label>Gender</label><br>
<select>
<option>Male</option>
<option>Female</option>
<option>Other</option>
</select><br><br>

<label>Scheme Name</label><br>
<input type="text" id="schemeName" readonly><br><br>
<select>
<option>PM Kisan Samman Nidhi</option>
<option>PM Awas Yojana</option>
<option>Ayushman Bharat</option>
<option>PM Ujjwala Yojana</option>
<option>PM Mudra Yojana</option>
<option>National Scholarship Portal</option>
<option>Rythu Bandhu</option>
<option>Rythu Bima</option>
<option>Aasara Pension</option>
<option>Kalyana Lakshmi</option>
<option>Shaadi Mubarak</option>
<option>KCR Kit</option>
<option>Mission Bhagiratha</option>
<option>Indiramma Housing Scheme</option>
<option>Free Bus Travel Scheme</option>
<option>Cheyutha Scheme</option>
</select><br><br>

<label>Village</label><br>
<input type="text" placeholder="Village Name"><br><br>

<label>Mandal</label><br>
<input type="text" placeholder="Mandal"><br><br>

<label>District</label><br>
<input type="text" placeholder="District"><br><br>

<label>Upload Aadhaar</label><br>
<input type="file"><br><br>

<label>Upload Income Certificate</label><br>
<input type="file"><br><br>

<button type="submit">Submit Application</button>

</form>

</div>
<script>
<script src="script.js"></script>
</script>
</body>
</html>