<header class="top-bar">

    <div>
        <i class="fa-solid fa-phone"></i>
        +91 9876543210
    </div>

    <div>
        <i class="fa-solid fa-envelope"></i>
        support@sdvsp.gov.in
    </div>

    <div>
        <i class="fa-solid fa-location-dot"></i>
        Raorukula, Siddipet Rural
    </div>

</header>

<nav class="navbar">

    <div class="logo">
        <h2>Smart Digital Village</h2>
    </div>

    <ul>

        <li><a href="/">Home</a></li>

        <li><a href="#">About Village</a></li>

        <li><a href="#">Services</a></li>

        <li><a href="#">Government Schemes</a></li>

        <li><a href="#">Announcements</a></li>

        <li><a href="#">Contact</a></li>

    </ul>

    <div>

        <button class="login-btn">Login</button>

        <button class="register-btn">Register</button>

    </div>

</nav>