<header class="top-bar">

    <div><i class="fa-solid fa-phone"></i> +91 9876543210</div>

    <div><i class="fa-solid fa-envelope"></i> support@sdvsp.gov.in</div>

    <div><i class="fa-solid fa-location-dot"></i> Raorukula, Siddipet Rural</div>

</header>

<nav class="navbar">

    <div class="logo">
        <h2>Smart Digital Village</h2>
    </div>

    <!-- Hamburger -->
    <div class="menu-toggle" id="menu-toggle">
    <i class="fa-solid fa-bars"></i>
</div>

<ul id="nav-menu">

        <li><a href="/">Home</a></li>

        <li><a href="#about">About Village</a></li>

        <li><a href="#services">Services</a></li>

        <li><a href="#schemes">Government Schemes</a></li>

        <li><a href="#announcements">Announcements</a></li>

        <li><a href="#contact">Contact</a></li>

        <li><button class="login-btn">Login</button></li>

        <li><button class="register-btn">Register</button></li>

    </ul>

</nav>

