<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Government Schemes Portal</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<header>
    <h1>Government Schemes Portal</h1>
    <p>Explore Central and Telangana Government Welfare Schemes</p>
</header>

<div class="container">

    <div class="card">
        <img src="images/government.jpg" class="scheme-img" alt="Government Schemes">

        <h2>Government Schemes</h2>

        <p>
            View complete details of Central and Telangana Government Schemes,
            eligibility, benefits, required documents and apply online.
        </p>

        <a href="schemes.html">
            <button>View Schemes</button>
        </a>
    </div>

</div>

<footer>
    <p>© 2026 Government Schemes Portal | Smart Digital Village Service Portal</p>
</footer>

</body>
</html>